body {
  background-color: #fff;
  color: #000;
}

/* Media Queries */

@media only screen and (min-width: 340px) {
  .title { 
    font-size: 2rem;
    padding: 2px;
    grid-row: 1/2;
    grid-column: 1/2; 
    justify-self: center;
    text-align: center;
  }
  .container { 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto); 
    justify-items: center;
  } 
  .piegraph {   
    grid-row: 2/3;
    grid-column: 1/2;  
    justify-self: center;
    align-self: center;
  }
  .bargraph {  
    grid-row: 3/4;
    grid-column: 1/2;  
    align-self: center;
    justify-self: center;
  }
  
  .search {
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: center;
  }
  .searchbutton {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .datatable {
    grid-row: 5/6;
    grid-column: 1/2; 
  }
  .success {
    background-color: green;
    padding: 3;
    display: block;
  }
  .fail {
    background-color: red;
    padding: 3;
  }
  .searchbar {
    width: 30rem;
  }
  .selectperpag {
    margin: 1rem;
    min-width: 150px;
    margin: 5px;
    padding-top: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .title { 
    font-size: 2rem;
    padding: 2px;
    grid-row: 1/2;
    grid-column: 1/8; 
    justify-self: center;
    text-align: center;
  }
  .searchbar {
    width: 50rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto, 4);
    grid-template-rows: repeat(auto, 3);
    justify-content: center;
    align-items: center;
  } 
  .piegraph {  
    grid-row: 2/3;
    grid-column: 1/4; 
  }
  .bargraph {  
    grid-row: 2/3;
    grid-column: 5/8; 
  }
  .datatable {
    grid-row: 4/5;
    grid-column: 1/8;
    justify-self: center;
  }
  .search {
    grid-row: 3/4;
    grid-column: 1/8;
    justify-self: center;
  }
  .searchbutton {
    grid-row: 3/4;
    grid-column: 5/6;
  }
  .success {
    background-color: green;
    padding: 3;
    display: block;
  }
  .fail {
    background-color: red;
    padding: 3;
  }
}

.panelTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination__buttons {
  padding: 1rem;
  background-color: #206354;
}
.page_link {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page_link {
  position: relative;
  display: block;
  color: #F6F6F6;
  text-decoration: none;
  background-color: #1976D2;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page_item:not(:first-child) .page_link {
  margin-left: -1px;
}
.page_item.active .page_link {
  z-index: 3;
  color: #fff;
  background-color: #145ba1;
  border-color: #1976D2;
  max-width: 15rem;
}

.page_item.disabled .page_link {
  color: #6c757d;
  pointer-events: none;
  background-color: #145ba1;
  border-color: #1976D2;
}
.page_link {
  padding: 0.375rem 0.75rem;
}
.page_item:first-child .page_link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page_item:last-child .page_link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination-lg .page_link {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}
.pagination-lg .page_item:first-child .page_link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page_item:last-child .page_link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.pagination-sm .page_link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.pagination-sm .page_item:first-child .page_link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page_item:last-child .page_link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}